/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Open Sans", serif;
}
.text-center{
    text-align: center;
    color: #14213d;
    font-size: 30px;
}
/* Nav */
header{
    width: 100%;
    background: #000000;
    
}
nav.menu{
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.menu a{
    color: #e5e5e5;
    text-decoration: none;
    margin-right: 20px;
}
nav.menu a:hover{
    color: #ffffff;
}
/*========== Services Section========== */
.services{
    width: 100%;
    height: 400px;
    padding: 60px;
    background: #e5e5e5;
}
/* ========== Hero Slider =========*/
.banner{
    /* Relative position so that it is behind the nav */
    position: relative;
    width: 100%;
    height: calc(75vh - 70px);
    background: #f5f5f5;
    background-position: center;
    background-size: cover;
    transition: all .1s ease-in-out;
    background: url('img/banner-01.jpg');
    animation: banner 12s infinite linear;
}
.banner-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #f1faee;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.banner-content a{
    color: #f1faee;
    text-decoration: none;
    padding: 9px 20px;
    border: 1px solid #f1faee;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.banner-content a:hover{
    background: #f1faee;
    color: #000000;
}
/* Animation Change Images in Banner */
@keyframes banner{
    0%{
        background: url('img/banner-01.jpg');
    }
    33%{
        background: url('img/banner-01.jpg');
    }
    34%{
        background: url('img/banner-02.jpg');
    }
    66%{
        background: url('img/banner-02.jpg');
    }
    67%{
        background: url('img/banner-03.jpg');
    }
    100%{
        background: url('img/banner-03.jpg');
    }
}